.header {
    background: #243584;
    color: #fff;
    padding: 1rem 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    font-size: 1.35em;
}
.main-nav, .user-nav {
    display: flex;
    gap: 16px;
    align-items: center;
}
.main-nav a, .user-nav a, .btn-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
    padding: 2px 7px;
    border-radius: 3px;
    background: none;
    border: none;
}
.main-nav a:hover, .user-nav a:hover, .btn-link:hover {
    color: #62e4f4;
    background: #1ec3db;
}

.user-name {
    font-size: 0.97em;
    font-weight: 700;
    margin-right: 7px;
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: stretch;
        padding: 1em 0.7em;
    }
    .main-nav, .user-nav {
        gap: 9px;
        font-size: 0.97em;
    }
}


.logo {
    font-size: 1.4em;
}

.footer {
    width: 100%;
    padding: 1em 0;
    background: #243584;
    color: #fff;
    font-size: 0.96em;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
}

@media (max-width: 700px) {
    .footer {
        font-size: 0.9em;
        padding: 0.7em 0;
    }
}
