.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px 0;
}
.history-list {
    margin-top: 20px;
    width: 90%;
    max-width: 420px;
}
.history-item {
    background: #f3f7f6;
    border-radius: 7px;
    padding: 13px 18px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px #aacac6aa;
    font-size: 1em;
}
