.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 34px 0;
}
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 280px;
}
.signup-btn {
    background: #43c57f;
    color: #fff;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
}
.signup-btn:hover {
    background: #257449;
}
